<h2>About</h2>

<p>
  This is a personal project that merges my two favorite things: Coding and
  Music.
</p>
<p>
  It is a web-based MIDI controller that allows you to play music using your
  computer's keyboard or a connected MIDI device.
</p>

Requirements:
<ul>
  <li>Virtual Midi Port (See below)</li>
  <li>Midi Connected Soundsource (i.e. synth)</li>
  <li>A virtual Synth Desktop or if Web synth (https://midi.city/)</li>
</ul>

<h2>Resources:</h2>
<p>Free/Open-Source Virtual Synths:</p>
<ul>
  <li>
    <a href="https://surge-synthesizer.github.io/" target="_blank">Surge XT</a>
    - Open Source Synthesizer
  </li>
  <li>
    <a
      href="https://www.tobias-erichsen.de/software/loopmidi.html"
      target="_blank"
      >LoopMIDI</a
    >
    - Virtual MIDI port
  </li>
  <li><a href="https://midi.city/" target="_blank">midi.city</a> - Web-based virtual Synthesizer.</li>
</ul>
