<div class="grid-row grid-header">
    <div class="grid-row-header"></div>
    @for (stepParams of gridSteps; track $index) {
    <div class="step-block">
        @if(stepParams.beatIndex === 0) {
        <span class="beat-number">{{stepParams.beat}}</span>
        }
    </div>
    }
</div>

@for(note of noteRows; track $index; ) {
<div class="grid-row" [ngClass]="{'odd': $odd}">
    <div class="grid-row-header">{{note}}</div>
    @for(stepParam of gridSteps; track $index) {
    <div class="step-block" 
        [attr.data-step-index]="stepParam.stepIndex"
        [attr.data-beat-index]="stepParam.beatIndex"    
        [attr.data-beat]="stepParam.beat"
        [attr.data-note]="note"
        [attr.data-active]="false"
        [ngClass]="{'beat-start': (stepParam.beatIndex === 0), 'last': $last}"></div>
    }
</div>
}

<div class="grid-row grid-footer">
    <div class="grid-row-header"></div>
    @for (stepParams of gridSteps; track $index) {
    <div class="step-block">
        {{stepParams.stepCount}}
    </div>
    }
</div>