:host {
    --standard-border-color: #ccc;
    --darker-border-color: #858585;

    user-select: none;

    .grid-row {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;

        .grid-row-header {
            width: 66px;
            padding: 8px;
            font-size: 13px;
            text-align: center;
        }



        .grid-row-steps-wrapper {
            position: relative;
            display: flex;
            flex: 1 0 300px;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: stretch;
            align-items: stretch;


            .beat-start {
                background-color: #0ba9dd1d;
            }

            .grid-cell {
                flex: 4 0 20px;

                
                &:not(.last-grid-cell) {
                    border-right-width: 0px;
                }
            }
        }

        .grid-cell {
            border: 1px solid var(--standard-border-color);
            border-bottom-width: 0px;
            // flex:1 0 initial;
        }



        &:not(.grid-header, .grid-footer):hover {
            background-color: #e50b0b17 !important;

            >.note-name {
                background-color: #390b0b79;
                color: #fff;
            }
        }
    }






    .grid-row-header {
        border-right-width: 0px;
    }

    .grid-footer {
        .grid-cell {
            border-bottom-width: 1px;
        }
    }

    .grid-wrapper {
        display: flex;
        flex-direction: column;

        &.delete-mode {
            box-shadow: 0 0 5px 2px red;
        }

        &.edit-mode {
            box-shadow: 0 0 5px 2px green;
        }
    }







    .grid-header,
    .grid-footer {
        background-color: #efefef;
        color: #3e3e3e1d
    }



    &.odd {
        background-color: #e6e6e6;
    }
}

.legend {
    padding:16px;
}