:host {


    .grid-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: auto;
        width: 66vw;
        border: 1px 1px 0 1px solid #ccc;
        align-content: stretch;
        align-items: stretch;

        &:not(.grid-header,.grid-footer):hover {
            background-color: #e50b0b17 !important;

            >.note-name {
                background-color: #390b0b79;
                color: #fff;
            }
        }

        .grid-row-header {
            width: 66px;
            // background-color: #824444;
            // color: #fff;
            padding: 8px;
            font-size: 13px;
            border-right: 1px solid #ccc;
            text-align: center;
        }

        &:first-child {
            border-top: 1px solid #ccc;
        }

        &:last-child {
            border-bottom: 1px solid #ccc;
        }

        &.odd {
            background-color: #e6e6e6;
        }

        >.step-block {
            flex: 1 1 0;

            border-left: 1px solid #ccc;

            &.beat-start {
                background-color: #0ba9dd1d;
            }

            &:last-child {
                border-right: 1px solid #ccc;
            }

            &[data-active='true'] {
                background-color: #1f217f75;
            }
        }

    }
}