:host {
    user-select: none;
    .grid-wrapper{
        &.delete-mode {
            box-shadow: 0 0 5px 2px red;
        }
        &.edit-mode {
            box-shadow: 0 0 5px 2px green;
        }
    }
    
    .grid-header {
        border-bottom: 1px solid #ccc;
    }
    .grid-header .grid-cell,
    .grid-footer .grid-cell {
        flex: 1 1 0;
        padding-left:4px;
        border-right: 1px solid #ccc;
    }
    
    .grid-footer {
        border-top: 1px solid #858585;
        .grid-cell {
            padding:4px;
            font-size: 11px;
        }
    }


    .grid-row {
        display: flex;
        flex-direction: row;
        margin: auto;
        align-content: stretch;
        align-items: stretch;
        position: relative;

        .grid-row-steps {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            align-items: flex-start;
            align-content: stretch;
            align-items: stretch;

            .step-block {
                flex: 1 1 0;
                border-left: 1px solid #ccc;

                &.beat-start {
                    background-color: #0ba9dd1d;
                }

                &:last-child {
                    border-right: 1px solid #ccc;
                }

                &[data-active='true'] {
                    background-color: #1f217f75;
                }
            }


        }


        &:not(.grid-header, .grid-footer):hover {
            background-color: #e50b0b17 !important;

            >.note-name {
                background-color: #390b0b79;
                color: #fff;
            }
        }

        .grid-header,
        .grid-footer {
            background-color: #efefef;
            color: #3e3e3e1d
        }

        .grid-row-header {
            width: 66px;
            padding: 8px;
            font-size: 13px;
            border-right: 1px solid #ccc;
            text-align: center;
        }

        &:first-child {
            border-top: 1px solid #ccc;
        }

        &:last-child {
            border-bottom: 1px solid #ccc;
        }

        &.odd {
            background-color: #e6e6e6;
        }
    }


}