<div class="button-wrapper">
  @if (  transport.isPlaying$ | async) {

    <button mat-fab extended  class="flat-fab-button" (click)="transport.stop()">
      <mat-icon>stop</mat-icon>
      Stop
    </button>
  } @else {
    <button mat-fab extended class="flat-fab-button" (click)="transport.start()">
      <mat-icon>play_circle</mat-icon>Play
    </button>

  }
  &nbsp;
  
  <button class="position-end" mat-stroked-button (click)="sequenceData.clear$.next(undefined)" title="Clear Grid">
    clear
  </button>
</div>